extends layout

block content
  link(rel='stylesheet', href='/css/sweetalert2.11.26.23.min.css')
  script(src='/js/sweetalert2.all.11.26.23.min.js', type='text/javascript')

  h1#title
    if isPasswordProtected
      span(title='Password protected') 🔒&nbsp;
    | #{title}

  div#overview-controls
    a#back-link(href='/') ← Back
    button#password-btn(type='button', onclick='openPasswordDialog()')
      if isPasswordProtected
        | Change Password
      else
        | Set Password
    a#export-btn(href=`/map/${mapId}/export`) ↓ Export JSON

  div#stats-banner
    div.stat-card
      div.stat-value #{stats.worldVisited}
      div.stat-label countries visited
    div.stat-divider
    div.stat-card
      div.stat-value #{stats.worldPct}%
      div.stat-label of the world
    div.stat-divider
    div.stat-card
      div.stat-value #{stats.continentsCovered}/#{stats.continentsTotal}
      div.stat-label continents
    div#continent-breakdown
      each c in stats.continents
        div.continent-row
          div.continent-name #{c.name}
          div.continent-bar
            div.continent-bar-fill(style=`width:${c.pct}%`)
          div.continent-fraction #{c.visited}/#{c.total}

  div#map-section
    - for (var i = 0; i < validTypes.length; i++)
      - var td = typeData[validTypes[i]]
      - var pct = td.total > 0 ? Math.round(td.count / td.total * 100) : 0
      div.map-box
        a.map-box-link(href=`/map/${mapId}/${validTypes[i]}`)
          div.map-box-map
            img.map-box-img(src=`/images/${validTypes[i]}.png`)
          div.map-box-label #{td.name}
          div.map-box-sublabel #{td.count} / #{td.total} &nbsp;·&nbsp; #{pct}%

  br
  br
  br

  - for (var i = 0; i < validTypes.length; i += 2)
    div.section-row
      div.section-column
        button.section-collapsible-button
          span.section-collapsible-title #{typeData[validTypes[i]].name}
          span.section-collapsible-icon ╲╱
        div.section-collapsible-content
          div.section-inner-column
            h3.table-title Not-Visited (#{Object.keys(typeData[validTypes[i]].unscratchedList).length})
            table.section-table
              tr
                th Name
                th Code
              each name, code in typeData[validTypes[i]].unscratchedList
                tr
                  td #{name}
                  td #{code}
          div.section-inner-column
            h3.table-title Visited (#{typeData[validTypes[i]].scratchedList.length})
            table.section-table
              tr
                th Name
                th Trip
                th Period
                th Visits
              each val in typeData[validTypes[i]].scratchedList
                tr
                  td #{val.name}
                  td #{val.tripName}
                  td #{val.visitPeriod}
                  td #{val.visitCount}
      - if (validTypes[i+1] !== undefined)
        div.section-column
          button.section-collapsible-button
            span.section-collapsible-title #{typeData[validTypes[i+1]].name}
            span.section-collapsible-icon ╲╱
          div.section-collapsible-content
            div.section-inner-column
              h3.table-title Not-Visited (#{Object.keys(typeData[validTypes[i+1]].unscratchedList).length})
              table.section-table
                tr
                  th Name
                  th Code
                each name, code in typeData[validTypes[i+1]].unscratchedList
                  tr
                    td #{name}
                    td #{code}
            div.section-inner-column
              h3.table-title Visited (#{typeData[validTypes[i+1]].scratchedList.length})
              table.section-table
                tr
                  th Name
                  th Year
                  th Link
                each val in typeData[validTypes[i+1]].scratchedList
                  tr
                    td #{val.name}
                    td #{val.year}
                    td
                      a(href=val.url target='_blank') #{val.url}

  script.
    var mapId = !{JSON.stringify(mapId)};
    var isPasswordProtected = !{JSON.stringify(isPasswordProtected)};

    async function openPasswordDialog() {
      const isProtected = isPasswordProtected;
      const html = isProtected
        ? `<label class="swal2-input-label">New Password</label>` +
          `<input id="swal-new-pw" class="swal2-input" type="password" placeholder="Enter new password">` +
          `<p style="font-size:12px;color:#888;margin-top:8px;">Leave blank to remove the password.</p>`
        : `<label class="swal2-input-label">Password</label>` +
          `<input id="swal-new-pw" class="swal2-input" type="password" placeholder="Enter password">`;

      const result = await Swal.fire({
        title: isProtected ? 'Change Password' : 'Set Password',
        html,
        showConfirmButton: true,
        showDenyButton: true,
        confirmButtonText: 'Save',
        denyButtonText: 'Cancel',
        confirmButtonColor: '#4d9e1b',
        denyButtonColor: '#777',
        preConfirm: () => {
          const newPassword = document.getElementById('swal-new-pw').value;
          if (!isProtected && !newPassword) {
            Swal.showValidationMessage('Password is required');
            return false;
          }
          return { newPassword };
        }
      });

      if (result.isConfirmed) {
        const resp = await fetch(`/maps/${mapId}/password`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(result.value)
        });
        const data = await resp.json();
        if (data.status === 200) {
          const msg = data.passwordSet ? 'Password saved.' : 'Password removed.';
          await Swal.fire({ title: 'Done', text: msg, icon: 'success', timer: 1500, showConfirmButton: false });
          window.location.reload();
        } else {
          Swal.fire('Error', data.message, 'error');
        }
      }
    }

  script.
    var collapsibles = document.querySelectorAll('.section-collapsible-button');

    for (let i = 0; i < collapsibles.length; i++) {
      collapsibles[i].addEventListener('click', function() {
        var collIcon = this.querySelector('.section-collapsible-icon');
        var collContent = this.nextElementSibling;

        if (!this.classList.contains('active')) {
          this.classList.add('active');
          collIcon.innerHTML = '╱╲';
          collContent.style.display = 'flex';
        } else {
          this.classList.remove('active');
          collIcon.innerHTML = '╲╱';
          collContent.style.display = 'none';
        }
      });
    }
